.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@supports (
  (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))
) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.25);
  transform: translate(-50%, -50%) scale(0.25);
  -webkit-transition: all 0.4s 0.2s;
  transition: all 0.4s 0.1s;
}

@media only screen and (max-width: 56.25em) {
  .popup__content {
    position: relative;
  }
}
@media only screen and (max-width: 75em) {
  .popup__content {
    width: 90%;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__content {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.popup__left {
  width: 33.333333%;
  display: table-cell;
  /* height: 50%;
  -o-object-fit: cover;
  object-fit: cover; */
}
@media only screen and (max-width: 75em) {
  .popup__left {
    width: 50%;
    overflow: hidden;
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__left {
    width: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.popup__right {
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
@media only screen and (max-width: 75em) {
  .popup__right {
    width: 50%;
    padding: 3rem 2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__right {
    display: inline-block;
    width: 100%;
  }
  .popup__right .heading-tertiary {
    color: #fff;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__right .btn {
    width: 100%;
    text-align: center;
  }
}
.popup__img {
  display: block;
  width: 99%;
}

@media only screen and (max-width: 56.25em) {
  .popup__img {
    height: 100%;
    -webkit-filter: brightness(0.4);
    filter: brightness(0.4);
  }
}

.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #eee;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 4rem;
  column-gap: 4rem;
  -webkit-column-rule: 1px solid #eee;
  column-rule: 1px solid #eee;
  -moz-hypens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media only screen and (max-width: 75em) {
  .popup__text {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__text {
    color: #fff;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__text {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link,
.popup__close:visited {
  color: #ff5100;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (max-width: 37.5em) {
  .popup__close:link,
  .popup__close:visited {
    display: inline;
  }
}

.popup__close:hover,
.popup__close:active {
  color: #ff5100;
}

@media screen and (max-width: 1485px) {
  .package-destinations {
    width: 65%;
  }
}

@media screen and (max-width: 1373px) {
  .package-destinations {
    width: 72%;
  }
}

@media screen and (max-width: 1200px) {
  .package-destinations {
    width: 70%;
  }
}

@media screen and (max-width: 1100px) {
  .package-destinations {
    width: 95%;
  }
}

@media screen and (max-width: 1100px) {
  .package-destinations {
    width: 90%;
  }
}
